
body{
    background-image: url(https://images4.alphacoders.com/127/1270258.jpg);
    
}
h1 {
    text-align: center;
    color: rgba(49, 11, 199, 0.786);
}

label {
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(101, 13, 60, 0.682);
    padding: 1em 0;
}

input, textarea, select {
    border-radius: 10px;
}

#leNom, #lePrenom, #leGenre, #lemessage, #username, #email, #ddn, #username, #password,#laLangue{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:10px;
    
}

#cloGauche{
    margin-left: 10%;
}

#lergpd {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}

#rgpd {
    margin-right: 1em;
}

input[type=text],input[type=date],input[type=email],input[type=password], textarea, select, #lergpd{
    width:75vw;
}

input[type=submit]{
    width: 100%;
    height: 40px;
}

fieldset {
    display: flex;
    gap:4rem;
}


.information{
    padding: 1rem;
    border: 1px solid #202020;
    margin: 1.5rem 0;
    background-color: rgba(255, 255, 255, 0.611);
}


